@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




:root {
    --primariaclara: #e3f7f8;
    --secundariaclara: #ccd8df;
    --terciariaclara: #3D5A80;
    --quartaclara: #969d9e;
    --quintacor: #404040;
    --sextacor: #0D0D0D;
}

*{
    margin: 0;
    padding: 0;
}

.corpodapagina{
    background-color: var(--primariaclara);
    padding-top: 1rem;
    width: 100vw;
}


.cabecalho {
    z-index: 1;
    position:fixed;
    top: 0;
    width: 100%;
    gap: 1rem;
    background-color: var(--secundariaclara);
}
.menu{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 4px;
    
}

.ul-grid{
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 2rem 2rem;
    grid-column-gap: 1rem;
}

.botaoprojetos{
    grid-column: 3;
    grid-row: 1;
}

.botaosobremim{
    grid-column: 2;
    grid-row: 1;
}

.botao{
    margin-top: 4px;
    width: 6rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.barra{
    width: 0;
    height: 5px;
    background-color: aqua;
    transition: width 0.3s ease;
    z-index: 10;
    
}

.botao:hover + .barra{
    width: 100%;
    
}

header {
    list-style-type: none;   
}

.ul-grid a {
    text-decoration: none;
    color:#0D0D0D;
    font-family: 'Roboto', sans-serif;

}
.link-cabeca{
    color:var(--secundariaclara)
}

/*ESTILO DO MENU MOBILE*/

.btn-abrir-menu i{
    color: var(--sextacor);
    position: fixed;
    right: 0.2rem;
    top: 0.5rem;
    font-size: 2rem;
}




.botao-mobile{
    padding: 20px 4%;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: var(--sextacor);
    font-size: 3rem; 
    
}

.menu-mobile{
    
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 0%;
    overflow: hidden;
    background-color: var(--secundariaclara);
    transition: 0.2s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
    height: auto;
}

.menu-mobile nav ul li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--sextacor);
    font-size: 1rem;
    
}

.overlay-menu{
    background-color: var(--quartaclara);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}






.nome{
    background-color: var(--secundariaclara);
    margin: 0.5rem 0 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.50rem;
}
.wrapper{
    position:fixed;
    top: 3rem;
    right: 0;
    margin: 5px 2px 0 0;
}

.home{
    
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 12rem auto auto auto;
    border-radius: 1rem;
    width: 60rem;
    height: 30rem;
    background-color: var(--secundariaclara);
    justify-content: center;
    align-items: center;
}


.minhafoto{
    padding: 1rem;
    border-radius: 5%;
    width: 10rem;
}
.links_links{
    display: flex;
    justify-content: center;
}
.links{
    
    display:flex;
    justify-content: center;
    margin: 10rem 1rem 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-size:2rem;
}
.imagemlink{
    height: 2rem;
    width: auto;
}

.imagemgit{
    height: 2.25rem;
}

.partesobre{
    margin: 20rem auto 0rem auto;
    width: 60rem;
    height: 30rem;
    background-color: var(--secundariaclara);
    border-radius: 2%;
}


.titulosobre{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
.sobremim{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0rem auto 0rem auto;
    padding:4rem 2rem 4rem 2rem;
   
}

.habilidades{
    display:flex;
    justify-content: space-evenly;
    padding: 4rem;
}

.html{
    transform: scale(3);
    z-index: -1;
}

.css3{
    transform: scale(1.25);
    z-index: -1;
}

.JavaScript{
    transform: scale(3);
    border-radius: 10px;
    z-index: -1;
}

.tituloprojeto{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 20rem;

}
.projetos{
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 10rem 10rem;
    margin: 1rem auto 1rem auto;
    width: 60rem;
    height: auto;
    gap: 1rem;
    

}
#numerosdeprojetos{
    background-color: var(--secundariaclara);
}

.numerosdeprojetos{
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    gap: 1rem;
    
}
.calculadora{
    display: flex;
    flex-direction: column;
    border:#3D5A80 3px solid;
    border-radius: 5px;
    
}
.linkprojetoUm{
    width: 8.35rem;
    height: 2rem;
    margin: 0 auto;

}
.linkcalculadora{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
    border: #3D5A80 3px solid;
    border-radius: 5px;
    
}

a.linkcalculadora:hover + .barra{
    width: 100%;
}
.sobreAcalculadora{
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    padding: 0 0.5rem 1rem 1rem;
}



.projeto2{
    border:#3D5A80 3px solid;
    border-radius: 5px;
}

.projeto3{
    border:#3D5A80 3px solid;
    border-radius: 5px;
}


.rodape{
    background-color: var(--secundariaclara);
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

@media  screen and (min-width: 1021px){

    .btn-abrir-menu{
        display: none;
    }
}

@media screen and (max-width: 1020px){
    #corpodapagina{
        width: 100vw;
    }
    
    
    /*CABEÇALHO*/
    .menu{
        display: none;
    }
   
    /*CLASSES GERAIS*/
        .home{
            flex-direction: column;
            width: auto;
            margin: 8rem 0.5rem auto 0.5rem;
        }
        .hometext{
            padding: 0.5rem;
        }

        .links_links{
            flex-direction: column;
        }

        #linksgit{
            margin-top: 1rem;
        }

        .partesobre{
            width: auto;
            height: auto;
            margin: 10rem 0.5rem 0rem 0.5rem;
        }
        .habilidades{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            margin-top: 6rem;
        }

        .html,.JavaScript,.css3{
            width: 5rem;
           
        }
        .css3{
            width: 11rem;
            padding: 1rem;
        }

        .tituloprojeto{
            margin-top: 7rem;
        }

        #irAteProjetos{
            width: 100vw;
            padding-left: 2rem;
        }
        .projetos{
            grid-template-columns: 19rem;
            grid-template-rows: 13rem 13rem 13rem;
            width: 100%;
        }
        .numerosdeprojetos{
            padding: 1rem ;
        }


        .projetotema{
            width: 19rem;
        }

        .rodape{
            width: auto;
            
        }


    
}